/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primery {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 15px 35px;
}
.section-title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}
.section-diraction{
  color: #757575);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

/* -----------------********------------------- */
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.nav-title {
  color:#181818);
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/*----------------********------------------ */
/* header related style */

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"), url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content{  
  max-width: 585px;
}


.banner .profile-picture {
  width: 500px;
}

.banner-greete{
  font-size: 45px;
  color: #474747;
  margin: 0px 0px 5px 0px;
}
.banner-title{
  font-size: 85px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.bannder-drescripion{
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 0px 30px 0px;
}
/* main section style */
main{
  max-width: 1140px;
  margin: 0 auto;  
}

/* about section */
.about{
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0px;
  color: #757575;
}

.bout-info-container{
  display: flex;
  justify-content: space-around;
}
.about-info{
  text-align: center;
}
.info-title{
  font-size: 18px;
  color: #757575;
  margin: 0;
}
.info-description{
  margin: 5px 0px;
  color: #000;
}

#what-i-do-dec{
  padding: 30px 150px;
  text-align: center;  
}


/* skilles styles */

.skills-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 40px;
}

.skill{
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  /* max-width: 267px;
  max-height: 377px; */

}

.skill-description{
  color: #757575);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; 
  text-align: justify;
}

main section{
  margin-top: 130px;
}


/* resumei section */

.resume-clumn-title{
  color: #474747);
  font-size: 30px;
}
.resume-container{
  display: flex;
  gap: 50px;
}
.resume-clumn-title{
  color: #474747;
  font-size: 30px;
  margin: 100px 0px 20px 0px
}

.resumi-item-title{
 color: #474747; 
 font-size: 23px;
 margin: 5px 0px;
}
.resume-titem-inst{
  font-size: 18px;
  color: #757575;
  margin: 0;
}
.resumi-item-description{
  font-size: 20px;
  color: #757575;
  line-height: 28px;
}

hr {
  margin: 40px 0px;
}

.download-cv{
  text-align: center;
  margin: 50px 0px;
}


/* footer ares */

footer{
  display: flex;
  background: #FFF8F3;
  padding: 130px 230px;
  margin-top: 100px;
  gap: 100px;
  align-content: space-between;
}
.footer-clume{
  width: 50%;
}
.s-title{
  text-align: left;
}
.section-description{
  font-size: 12px;
  color: #474747;
}
.ocial-link{
  margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"], textarea{
  display: block;
  margin: 20px 0px;
  padding: 18px 35px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 100%;
}